<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>

  <form method="Post">
    {% csrf_token %}
      {% for field in form %}
      <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
  {% endfor %}
      </p>
  {% endfor %}
      <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LcI-1wUAAAAAJ3rg7eSpVg7KhSSUhZnO3cQ9dJb"></div>
    <button class="btn btn-success" type="submit">Sign up</button>
  </form>
{% endblock %}