<!-- template/post_list.html -->
{% extends 'base.html' %}
{% load i18n %}


{% block title %}Packages{% endblock %}

{% block content %}
  {% for post in object_list %}
    <div class="card">
     <span class="font-weight-bold">{{ "Destination: " }}{{ post.destination }}</span>
      <div class="card-body">
      <p>{{ "Hotel Name: " }}{{ post.hotelName }}</p>
      <p>{{ "Duration: " }}{{ post.duration }}</p>
      <p>{{ "Price: £" }}{{ post.price }}{{ " PP" }}</p>
      <p>{{ "Departure Date: " }}{{ post.departureDate }}</p>
      <p>{{ "Transport Method: " }}{{ post.type }}</p>
      <p>{{ "Leaving Time: " }}{{ post.leavingTime }}</p>
      <p>{{ "Seats Available: " }}{{post.quantity }}</p>
         {% if user.is_authenticated %}
        <a href="{% url 'chooseSeats' post.pk%}">choose seats</a>
         {% elif item.quantity <= 0 %}
             <a href>OUT OF STOCK</a>
         {% else %}
        <a href="{% url 'login' %}">choose seats</a>
         {% endif %}
      {% if user.is_staff %}
      <a href="{% url 'EditPackage' post.pk%}">Edit Package</a>
      {% endif %}
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}